#secondary-hd {
	padding: .5em;
	background: #000;
	letter-spacing: 1px;
	font-weight: 300;
	//border: 1px solid green;
	aside {
		float: left;
		//border: 1px solid fuchsia;
		h2 {
			font-size: 1.25em;
			line-height: 1em;
			font-weight: 400;
		}
	}
	aside:last-child {
		float: right;
		//border: 1px solid blue;
	}
}