// #masthead
nav.site-header.expanded {
	.main-navigation.top-bar-section {
		width: 100%;
		// border: 2px solid purple;
	}
	.main-navigation {
		ul.main-nav {
			display: block;
			li {
				width: 100%;
				border-top: 1px solid #222;
			}
		}
	}
}

nav.site-header {
	// default WP menu
	.main-navigation {
		// border: 2px solid #bada55;
	}
	.main-navigation .menu ul {
		display: none;
		//border:  1px solid fuchsia;
	}
	// FOUNDATION WP menu
}
nav.site-header.expanded  {
	.main-navigation .menu ul {
		display: block;
	}
}

nav.site-header.top-bar.expanded {
	position: relative;
	height: 115px;
	.title-area {
		background: none;
	}
}
nav.site-header {
	position: relative;
	z-index: 9999;
	width: 100%;
	height: 110px;
	//top: 35px;
	//border-top: 1px solid white;
	border-bottom: 1px solid #777;
	background: none;
	font-family: $font__main;
	overflow: visible;
	//border: 1px solid fuchsia;
	.toggle-topbar.menu-icon a {
		height: 45px;
		top: -7px;
		//border: 1px solid fuchsia;
		span::after {
			width: 25px;
			top: 53%;
			//border: 2px solid red;
		}
	}
	.site-branding {
		display: block;
		// border: 1px solid fuchsia;
		li {
			h1 {
				a {
					position: relative;
					width: 250px !important;
					//border: 1px solid #bada55;
				}
				.logo {
					position: absolute;
					//top: -35px;
					left: 0px;
					//width: 85px;
					//border: 1px solid fuchsia;
				}
				.logo-type {
					position: absolute;
					top: -2px;
					left: 95px;
					height: 50px;
					//border: 1px solid orange;
				}
			}
		}
		.toggle-topbar {
			right: -6px;
			//border: 1px solid blue;
		}
	}
	ul.main-nav {
		margin: 70px 0 0 0;
		// border-bottom: 1px solid #777;
		display: none;
		li {
			a {
				position: relative;
				font-size: 1.15em;
				letter-spacing: 1px;
				font-family: $font__main;
				font-weight: 300;
			}
			ul.sub-menu {
				padding-left: 1.5em;
				//border: 1px solid fuchsia;
			}
		}
	}
}

// @media only screen and (min-width: 640px) and (max-width: 820px) {
// 	nav.site-header {
// 		border: 1px solid green;
// 		ul.main-nav {
//
// 		}
// 	}
// 	.site-branding {
// 		border: 1px solid red;
// 		// .toggle-topbar.menu-icon {
// 		// 	right: -6px;
// 		// 	display: block;
// 		// 	border: 1px solid purple;
// 		//
// 		// }
// 	}
// }

// DESKTOP .main-nav
@media only screen and (min-width: $small-breakpoint) {
	nav.site-header {
		height: 95px;
		margin: 0 0 48px 0;
		//display: none;
		//background-color: green;
		.site-branding {
			margin: 0 20px 0 0;
			// border: 1px solid orange;
		}
		.main-navigation.top-bar-section {
			position: relative;
	    height: 47px;
	    top: 95px;
			border-bottom: 1px solid #777;
			// left: auto !important;
			// border: 1px solid red;
		}
		ul.main-nav {
			position: absolute;
			// width: 200px; // Closses in the nav for column effect
			top: 0px;
			display: block;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			right: 8.33%;
			// background-image: url("assets/imgs/concrete.png");
			// border: 1px solid fuchsia;
			li {
				position: relative;
				background: none;
				a {
					font-size: 1.15em;
					background: none;
				}
				ul.sub-menu {
					position: absolute;
					top: 0px;
					right: 200px;
					width: 200px;
					padding-left: 0;
					padding-right: 2px;
					display: none;
					z-index: 1;
					//border: 1px solid orange;
					li {
						//width: 175px;
						a {
							background-color: $solid-red;
						}
						a:after {
							content: none;
						}
					}
				}
				ul.sub-menu ul.sub-menu {
					display: none;
					top: 0px;
					left: -200px;
					//border: 1px solid orange;
				}
			}
			li.menu-item-has-children:hover > ul.sub-menu {
				display: block;
			}
			li.menu-item-has-children a:after {
				position: relative;
				float: right;
				top: 25px;
				right: -7px;
				border: 5px inset;
				content: "";
				display: block;
				height: 0;
				width: 0;
				border-color: rgba(255,255,255,.4) transparent transparent;
				border-top-style: solid;
				margin-top: -2.5px;
			}
			li.menu-item-has-children ul.sub-menu li.menu-item-has-children > a:before{
				position: relative;
				float: left;
				border: 5px inset;
				content: "";
				display: block;
				height: 0;
				width: 0;
				top: 18px;
				left: -5px;
				border-color: rgba(255,255,255,.4) transparent transparent;
				border-top-style: solid;
				transform: rotate(90deg);
				//border: 1px solid green;
			}
		}
	}
	.top-bar-section li:not(.has-form) a:not(.button) {
		background: none;
	}
}

// Nav States
// Sub Menu

// parent nav item hover
.top-bar-section ul li:hover:not(.has-form)>a {
	background-color: $solid-red;
	// opacity: .75;
}
// child nav item hover
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: $solid-red;
	opacity: .65;
}
