@import url(https://fonts.googleapis.com/css?family=Lato:400italic);

.DEPC-bug {
	padding: 0 0 .85em 0;
	font-family: lato;
	font-weight: 400;
	font-style: italic;
	font-size: .85em;
	//background: fuchsia;
	color: #aaa;
	a {color: #666;}
	img.bug {
		top: 10px;
		position: relative;
		width: 30px;
	}
}