.DEPC-bug {
	padding: 0 0 .85em 0;
	font-family: lato-italic;
	font-size: .85em;
	//background: fuchsia;
	color: #aaa;
	a {color: #aaa;}
	img.bug {
		top: 10px;
		position: relative;
		width: 30px;
	}
}