#colophon.site-footer {
	//@extend .block-spacing;
	text-align: center;
	.columns {
		padding: 0;
	}
	.site-info {
		padding: .5em 0;
		background-color: $solid-red;
		color: #fff;
		font-family: $font__main;
		text-align: center;
		font-size: 1.15em;
		font-weight: 300;

	}
}

@import "DEPCbug";