// Extension classes
.block-spacing {
	margin: 0 0 2em;
}

// STRUCTURE
#page.site {
	position: relative;
	overflow: hidden;
}

#content.site-content {
	@extend .block-spacing;
}

	.featured-window {
		@extend .block-spacing;
	}

	#primary.content-area {
		@extend .block-spacing;
		margin-top: 2em;
		//@include content-shadow;
	}