.simple-slider {
	background-color: #777;
	height: 100%;

	.slick-arrow {
		z-index: 1;
		position: absolute;
		top: 340px;
		padding: 0 .5em;
		background-color: rgba(219, 219, 219,.5);
		color: #fff;
		font-size: 25px;
	}
	.slick-prev {
		left: 0px;
	}
	.slick-next {
		right: 0px;
	}

	.slick-list{
		height: 100%;
	}

	.slick-slide {
		position: relative;
		height: 700px;
		background-color: #333;
		img {
			margin: 0 auto;
			height: 100%;
			width: auto;
		}
	}
}